# Reading file only

In [2]:
import pandas as pd

In [43]:
df = pd.read_pickle(r'0.pkl')
df

,pid,values,rel,indices,cut,est_month,comp_x,comp_y,dist,mono,gid
0,0,"[29.0, 52.0, 33.0, 20.0, 31.0, 27.0, 77.0, 40....",2,"[0, 3]",17,March,January,April,pareto,1.0,1
1,0,"[38.0, 37.0, 36.0, 32.0, 22.0, 99.0, 59.0, 43....",1,"[0, 4]",0,January,January,May,pareto,NaN,2
2,0,"[38.0, 37.0, 36.0, 32.0, 22.0, 99.0, 59.0, 43....",1,"[0, 4]",7,January,January,May,pareto,1.0,3
3,0,"[36, 24, 66, 48, 28, 47, 62, 37, 55, 56, 56, 54]",1,"[0, 1]",0,April,January,February,beta,NaN,4
4,0,"[50, 40, 46, 41, 27, 61, 100, 60, 48, 60, 68, 70]",0,"[0, 1]",0,January,January,February,ac,NaN,5
5,0,"[21.0, 46.0, 90.0, 57.0, 31.0, 25.0, 52.0, 92....",4,"[0, 5]",16,May,January,June,pareto,0.0,6
6,0,"[33.0, 58.0, 32.0, 23.0, 26.0, 21.0, 38.0, 48....",2,"[0, 3]",9,May,January,April,pareto,1.0,7
7,0,"[27.0, 28.0, 47.0, 21.0, 22.0, 23.0, 24.0, 22....",4,"[3, 5]",3,April,April,June,pareto,1.0,8
8,0,"[47, 64, 25, 29, 54, 49, 54, 69, 32, 59, 40, 41]",4,"[2, 3]",24,January,March,April,beta,0.0,9
9,0,"[33.0, 58.0, 32.0, 23.0, 26.0, 21.0, 38.0, 48....",2,"[0, 3]",0,May,January,April,pareto,NaN,10
10,0,"[41, 57, 63, 32, 42, 24, 56, 50, 64, 46, 52, 58]",2,"[0, 3]",16,May,January,April,beta,1.0,11
11,0,"[47, 64, 25, 29, 54, 49, 54, 69, 32, 59, 40, 41]",4,"[2, 3]",0,January,March,April,beta,NaN,12
12,0,"[36, 24, 66, 48, 28, 47, 62, 37, 55, 56, 56, 54]",1,"[0, 1]",1,April,January,February,beta,1.0,13
13,0,"[27.0, 28.0, 47.0, 21.0, 22.0, 23.0, 24.0, 22....",4,"[3, 5]",0,April,April,June,pareto,NaN,14
14,0,"[43, 70, 71, 17, 64, 38, 47, 68, 30, 33, 18, 62]",3,"[3, 5]",0,June,April,June,beta,NaN,15
15,0,"[58, 61, 65, 48, 50, 68, 72, 41, 39, 55, 60, 42]",1,"[0, 4]",34,January,January,May,beta,0.0,16
16,0,"[22.0, 26.0, 39.0, 21.0, 21.0, 44.0, 23.0, 29....",3,"[4, 5]",10,March,May,June,pareto,1.0,17
17,0,"[58, 61, 65, 48, 50, 68, 72, 41, 39, 55, 60, 42]",1,"[0, 4]",3,January,January,May,beta,1.0,18
18,0,"[44, 30, 51, 43, 41, 48, 50, 52, 38, 43, 72, 55]",4,"[0, 5]",0,February,January,June,beta,NaN,19
19,0,"[26, 32, 34, 77, 55, 60, 40, 59, 39, 60, 73, 51]",3,"[0, 4]",0,March,January,May,beta,NaN,20
20,0,"[43, 70, 71, 17, 64, 38, 47, 68, 30, 33, 18, 62]",3,"[3, 5]",7,June,April,June,beta,1.0,21
21,0,"[36, 24, 66, 48, 28, 47, 62, 37, 55, 56, 56, 54]",1,"[0, 1]",14,April,January,February,beta,0.0,22
22,0,"[41, 57, 63, 32, 42, 24, 56, 50, 64, 46, 52, 58]",2,"[0, 3]",0,May,January,April,beta,NaN,23
23,0,"[37.0, 57.0, 40.0, 60.0, 21.0, 23.0, 23.0, 49....",1,"[2, 4]",0,May,March,May,pareto,NaN,24
24,0,"[27.0, 28.0, 47.0, 21.0, 22.0, 23.0, 24.0, 22....",4,"[3, 5]",17,April,April,June,pareto,0.0,25
25,0,"[38.0, 37.0, 36.0, 32.0, 22.0, 99.0, 59.0, 43....",1,"[0, 4]",21,January,January,May,pareto,0.0,26
26,0,"[22.0, 26.0, 39.0, 21.0, 21.0, 44.0, 23.0, 29....",3,"[4, 5]",0,March,May,June,pareto,NaN,27
27,0,"[47, 64, 25, 29, 54, 49, 54, 69, 32, 59, 40, 41]",4,"[2, 3]",23,January,March,April,beta,1.0,28
28,0,"[44, 30, 51, 43, 41, 48, 50, 52, 38, 43, 72, 55]",4,"[0, 5]",26,February,January,June,beta,0.0,29
29,0,"[37.0, 57.0, 40.0, 60.0, 21.0, 23.0, 23.0, 49....",1,"[2, 4]",15,May,March,May,pareto,1.0,30
30,0,"[21.0, 46.0, 90.0, 57.0, 31.0, 25.0, 52.0, 92....",4,"[0, 5]",0,May,January,June,pareto,NaN,31
31,0,"[50, 58, 34, 28, 29, 20, 90, 61, 23, 20, 23, 40]",0,"[0, 1]",0,January,January,February,ac,NaN,32
32,0,"[21.0, 46.0, 90.0, 57.0, 31.0, 25.0, 52.0, 92....",4,"[0, 5]",4,May,January,June,pareto,1.0,33
33,0,"[25, 59, 60, 52, 41, 34, 36, 65, 26, 53, 34, 39]",2,"[1, 5]",16,June,February,June,beta,1.0,34
34,0,"[26, 32, 34, 77, 55, 60, 40, 59, 39, 60, 73, 51]",3,"[0, 4]",16,March,January,May,beta,1.0,35
35,0,"[22.0, 56.0, 22.0, 45.0, 22.0, 23.0, 27.0, 48....",3,"[0, 3]",0,March,January,April,pareto,NaN,36
36,0,"[58, 61, 65, 48, 50, 68, 72, 41, 39, 55, 60, 42]",1,"[0, 4]",0,January,January,May,beta,NaN,37
37,0,"[37.0, 57.0, 40.0, 60.0, 21.0, 23.0, 23.0, 49....",1,"[2, 4]",18,May,March,May,pareto,0.0,38
38,0,"[22.0, 56.0, 22.0, 45.0, 22.0, 23.0, 27.0, 48....",3,"[0, 3]",6,March,January,April,pareto,1.0,39
39,0,"[44, 30, 51, 43, 41, 48, 50, 52, 38, 43, 72, 55]",4,"[0, 5]",3,February,January,June,beta,1.0,40
40,0,"[29.0, 52.0, 33.0, 20.0, 31.0, 27.0, 77.0, 40....",2,"[0, 3]",0,March,January,April,pareto,NaN,41
41,0,"[25, 59, 60, 52, 41, 34, 36, 65, 26, 53, 34, 39]",2,"[1, 5]",0,June,February,June,beta,NaN,42

calculate answer given task:

In [52]:
# estimate ratio

def calculate_ratio(vec): 
    v = vec[0] # values 
    i = month_to_num(vec[1]) # index 
    r = v[i]/v[i+6]
    return round(r, 2)

In [6]:
def month_to_num(string):
    '''given string of a month, return its index (0-indexing)'''
    if string == "January":
        return 0
    elif string == "February": 
        return 1
    elif string == "March":
        return 2
    elif string == "April": 
        return 3
    elif string == "May":
        return 4
    elif string == "June":
        return 5

In [40]:
def calculate_gap(vec): 
    v = vec[0] # values 
    i = month_to_num(vec[1]) # index 
    g = abs(v[i] - v[i+6])
    return g

In [59]:
# compare gap 

def compare_gap(vec): 
    v, indices = vec[0], vec[1]
    i, j = indices[0], indices[1]
    g1 = abs(v[i] - v[i+6])
    g2 = abs(v[j]-v[j+6])
    if g1 > g2:
        return 1
    elif g1 < g2: 
        return 2

In [65]:
# compare ratio

def compare_ratio(vec): 
    v, indices = vec[0], vec[1]
    i, j = indices[0], indices[1]
    r1 = round(v[i]/v[i+6], 2)
    r2 = round(v[j]/v[j+6], 2)
    if r1 > r2: 
        return 1
    elif r1 < r2: 
        return 2
    else: 
        return None

In [66]:
# estimate gap 
est_gap_ans = df[['values', 'est_month']].apply(calculate_gap, axis=1)
est_ratio_ans = df[['values', 'est_month']].apply(calculate_ratio, axis=1)
comp_gap_ans = df[['values', 'indices']].apply(compare_gap, axis=1)
comp_ratio_ans = df[['values', 'indices']].apply(compare_ratio, axis=1)

In [69]:
# save answers into the ans_dataframe

ans_df = pd.DataFrame()
ans_df['est_gap'] = est_gap_ans
ans_df['est_ratio'] = est_ratio_ans
ans_df['comp_gap'] = comp_gap_ans
ans_df['comp_ratio'] = comp_ratio_ans

In [71]:
ans_df.to_csv("0_ans.csv")